.intro {
    align-items:center;
    flex-direction: column;
    margin-bottom: 30px!important;
    margin-top: 150px!important;
    &_img {
        width: 17rem;
        @media(max-width: 767px) {
            width: 10rem;
            margin-left: 15%;
        }
        @media(min-width: 767.01px) and (max-width: 1023px) {
            width: 10rem;
            margin-left: 0%;
        }
    }
    &_titles {
        margin-left: 1.1rem;
        width:60%;
        margin: auto;
    }
    &_titles_title  {
        font-family: Raleway-Medium
    }

}

.intro.background_section {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    /* max-width: 1200px; */
    padding: 1rem;
    /* width: 80%; */
    height: 300px;
    z-index: 1;
    background-image: url(../images/fond-test.jpg);
    background-size: cover;
    margin-top: -2%;
    width: 102%;
    background-color: hsla(0, 0%, 100%, 0.8);
    left: 0;
    /* position: fixed; */
    margin-left: -2%;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 767px) {
    display: block;
    }
}
.background_section{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0,0,0,.18)
}