.intro {
    align-items:center;
    flex-direction: column;
    margin-bottom: 30px!important;
    margin-top: 150px!important;
    &_img {
        width: 17rem;
        @media(max-width: 767px) {
            width: 10rem;
            margin-left: 15%;
        }
        @media(min-width: 767.01px) and (max-width: 1023px) {
            width: 10rem;
            margin-left: 0%;
        }
    }
    &_titles {
        margin-left: 1.1rem;
        width:50%;
        margin: auto;
        font-size: 20px;
        @media(max-width: 767px) {
            padding:3px;
            font-size: 13px;
            width: 90%;
        }
        h3 {
            font-size: 25px;
            @media(max-width: 767px) {
                font-size: 16px;
            }
        }
    }
    &_titles_page {
        font-size: 30px;
        margin: auto;
    }
    &_titles_title  {
        font-family: 'Poppins', sans-serif;
    }

}
article.intro_titles h3 span,p.intro_titles_subtitle span  {opacity:0;
}


img.img-intro {
aspect-ratio: 1/1;
z-index: 1;
position: relative;
margin-top: 3%;
border-radius: 180px;
margin-left: 17%;
transform: translatey(0px);
animation: float 4s ease-in-out infinite;
@media(min-width: 767.01px) and (max-width: 1023px) {
    margin-left: 2%;
    margin-top: 5%;
}
@media(max-width: 767px) {
    width:50%;
    margin-left: 25%;
}
}
@keyframes float {
0% {
    transform: translatey(0px);
}
50% {
    transform: translatey(-10px);
}
100% {
    transform: translatey(0px);
}
}




.letter25, .letter01,.letter05  {
    margin-left: 10px;}
.letter16 {animation:letters 0s ease 0000ms forwards;}
.letter17 {animation:letters 0s ease 0500ms forwards;}
.letter18 {animation:letters 0s ease 0550ms forwards;}
.letter19 {animation:letters 0s ease 0600ms forwards;}
.letter20 {animation:letters 0s ease 0650ms forwards;}
.letter21 {animation:letters 0s ease 0700ms forwards;}
.letter22 {animation:letters 0s ease 0800ms forwards;}
.letter23 {animation:letters 0s ease 0850ms forwards;}
.letter24 {animation:letters 0s ease 0900ms forwards;}
.letter25 {animation:letters 0s ease 0950ms forwards;}
.letter26 {animation:letters 0s ease 1000ms forwards;}
.letter27 {animation:letters 0s ease 1050ms forwards;}
.letter28 {animation:letters 0s ease 1100ms forwards;}
.letter01 {animation:letters 0s ease 1150ms forwards;}
.letter02 {animation:letters 0s ease 1200ms forwards;}
.letter03 {animation:letters 0s ease 1250ms forwards;}
.letter04 {animation:letters 0s ease 1300ms forwards;}
.letter05 {animation:letters 0s ease 1350ms forwards;}
.letter06 {animation:letters 0s ease 1400ms forwards;}
.letter07 {animation:letters 0s ease 1450ms forwards;}
.letter08 {animation:letters 0s ease 1500ms forwards;}
.letter09 {animation:letters 0s ease 1550ms forwards;}
.letter10 {animation:letters 0s ease 1600ms forwards;}
.letter11 {animation:letters 0s ease 1650ms forwards;}
.letter12 {animation:letters 0s ease 1700ms forwards;}
.letter13 {animation:letters 0s ease 1750ms forwards;}
.letter14 {animation:letters 0s ease 1800ms forwards;}
.letter15 {animation:letters 0s ease 1850ms forwards;}
.paragraphe1 {animation:letters 3s ease 1900ms forwards;}
.paragraphe2 {animation:letters 3s ease 3200ms forwards;}
@keyframes letters {
	0% {opacity:0;}
	100% {opacity:1;}
}

div.conteneur-intro {
    @media(max-width: 767px) {
        display:block;
    }

}
.intro.background_section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 320px;
    z-index: 1;
    background-image: url(../images/fond-test.webp);
    background-size: cover;
    margin-top: -3%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.8);
    left: 0;
    /* position: fixed; */
    margin-left: -2%;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 767px) {
    display: block;
    background-attachment:scroll;
    height: 370px;
    padding: 7px;
    }
}
.background_section{
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0,0,0,.18)
}