html {
    background-color: #dfdfe0;
	background-size:contain;	
    font-family: Raleway;
    font-size: 17px;
    margin: auto;
    min-height: 100%;
    position: relative;
}

a,html {
    color: #1c1c1c
}

a {
    font-family: Raleway-Medium;
    text-decoration: none
}

ul {
    padding: 0
}

competences_section {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0,0,0,.18)
}

li {
    display: inline-block;
    list-style: none
}

body{
  position: absolute;
  margin-top: -2%;
}