@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
html {
    background-color: #dfdfe0;
	background-size:contain;	
    font-size: 17px;
    margin: auto;
    min-height: 100%;
    position: relative;
}

.fond {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
}



a,html {
    color: #1c1c1c
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none
}

ul {
    padding: 0
}

competences_section {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0,0,0,.18)
}
@keyframes blobBounce {
	50% {
		left: 60px;
	}
	100% {
		left: -50px;
	}
}

@keyframes float {
    0% {
      transform : rotate3d(0, 12, 56, 0deg);
    }
    2% {
      transform : rotate3d(5, 12, 56, 2deg);
    }
    3% {
      transform : rotate3d(5, 12, 56, 5deg);
    }
    4% {
      transform : rotate3d(10, 12, 56, 7deg);
    }
    5% {
      transform : rotate3d(10, 12, 56, 10deg);
    }
    6% {
      transform : rotate3d(15, 12, 56, 13deg);
    }
    7% {
      transform : rotate3d(15, 12, 56, 16deg);
    }
    8% {
      transform : rotate3d(20, 12, 56, 20deg);
    }
    10% {
      transform : rotate3d(25, 12, 56, 25deg);
    }
    12% {
      transform : rotate3d(30, 12, 56, 30deg);
    }
    14% {
      transform : rotate3d(35, 12, 56, 35deg);
    }
    16% {
      transform : rotate3d(40, 12, 56, 40deg);
    }
    18% {
      transform : rotate3d(45, 12, 56, 45deg);
    }
    20% {
      transform : rotate3d(50, 12, 56, 50deg);
    }
    22% {
      transform : rotate3d(55, 12, 56, 55deg);
    }
    24% {
      transform : rotate3d(60, 12, 56, 60deg);
    }
    26% {
      transform : rotate3d(65, 12, 56, 65deg);
    }
    28% {
      transform : rotate3d(70, 12, 56, 70deg);
    }
    30% {
      transform : rotate3d(75, 12, 56, 75deg);
    }
    32% {
      transform : rotate3d(80, 12, 56, 80deg);
    }
    34% {
      transform : rotate3d(85, 12, 56, 85deg);
    }
    36% {
      transform : rotate3d(90, 12, 56, 90deg);
    }
    38% {
      transform : rotate3d(95, 12, 56, 95deg);
    }
    40% {
      transform : rotate3d(100, 12, 56, 100deg);
    }
    41% {
      transform : rotate3d(105, 12, 56, 105deg);
    }
    42% {
      transform : rotate3d(110, 12, 56, 110deg);
    }
    43% {
      transform : rotate3d(115, 12, 56, 115deg);
    }
    44% {
      transform : rotate3d(120, 12, 56, 120deg);
    }
    45% {
      transform : rotate3d(125, 12, 56, 125deg);
    }
    46% {
      transform : rotate3d(130, 12, 56, 130deg);
    }
    47% {
      transform : rotate3d(135, 12, 56, 135deg);
    }
    48% {
      transform : rotate3d(140, 12, 56, 140deg);
    }
    49% {
      transform : rotate3d(145, 12, 56, 145deg);
    }
    50% {
      transform : rotate3d(150, 12, 56, 150deg);
    }
    51% {
      transform : rotate3d(155, 12, 56, 155deg);
    }
    52% {
      transform : rotate3d(160, 12, 56, 160deg);
    }
    53% {
      transform : rotate3d(165, 12, 56, 165deg);
    }
    54% {
      transform : rotate3d(170, 12, 56, 170deg);
    }
    55% {
      transform : rotate3d(175, 12, 56, 175deg);
    }
    56% {
      transform : rotate3d(180, 12, 56, 180deg);
    }
    57% {
      transform : rotate3d(185, 12, 56, 185deg);
    }
    58% {
      transform : rotate3d(190, 12, 56, 190deg);
    }
    59% {
      transform : rotate3d(195, 12, 56, 195deg);
    }
    60% {
      transform : rotate3d(200, 12, 56, 200deg);
    }
    61% {
      transform : rotate3d(205, 12, 56, 205deg);
    }
    62% {
      transform : rotate3d(210, 12, 56, 210deg);
    }
    63% {
      transform : rotate3d(215, 12, 56, 215deg);
    }
    64% {
      transform : rotate3d(220, 12, 56, 220deg);
    }
    65% {
      transform : rotate3d(225, 12, 56, 225deg);
    }
    66% {
      transform : rotate3d(230, 12, 56, 230deg);
    }
    67% {
      transform : rotate3d(235, 12, 56, 235deg);
    }
    68% {
      transform : rotate3d(240, 12, 56, 240deg);
    }
    69% {
      transform : rotate3d(245, 12, 56, 245deg);
    }
    70% {
      transform : rotate3d(250, 12, 56, 250deg);
    }
    71% {
      transform : rotate3d(255, 12, 56, 255deg);
    }
    72% {
      transform : rotate3d(260, 12, 56, 260deg);
    }
    73% {
      transform : rotate3d(265, 12, 56, 265deg);
    }
    74% {
      transform : rotate3d(270, 12, 56, 270deg);
    }
    75% {
      transform : rotate3d(275, 12, 56, 275deg);
    }
    76% {
      transform : rotate3d(280, 12, 56, 280deg);
    }
    77% {
      transform : rotate3d(285, 12, 56, 285deg);
    }
    78% {
      transform : rotate3d(290, 12, 56, 290deg);
    }
    79% {
      transform : rotate3d(300, 12, 56, 295deg);
    }
    80% {
      transform : rotate3d(305, 12, 56, 300deg);
    }
    81% {
      transform : rotate3d(310, 12, 56, 305deg);
    }
    82% {
      transform : rotate3d(315, 12, 56, 310deg);
    }
    83% {
      transform : rotate3d(320, 12, 56, 315deg);
    }
    84% {
      transform : rotate3d(325, 12, 56, 320deg);
    }
    85% {
      transform : rotate3d(330, 12, 56, 325deg);
    }
    87% {
      transform : rotate3d(335, 12, 56, 330deg);
    }
    89% {
      transform : rotate3d(340, 12, 56, 335deg);
    }
    91% {
      transform : rotate3d(345, 12, 56, 340deg);
    }
    93% {
      transform : rotate3d(350, 12, 56, 345deg);
    }
    95% {
      transform : rotate3d(355, 12, 56, 350deg);
    }
    97% {
      transform : rotate3d(360, 12, 56, 355deg);
    }
    99% {
      transform : rotate3d(365, 12, 56, 358deg);
    }
    100% {
      transform : rotate3d(370, 12, 56, 360deg);
    }
  }
  /* ---- reset ---- */ 
   /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: transparent; background-repeat: no-repeat; background-size: cover;} /* ---- stats.js ---- */ .count-particles{ font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

li {
    display: inline-block;
    list-style: none
}

body{
  margin-top: -2%;
}

h1 {
    font-family: 'Poppins', sans-serif;
}
